<DOCTYPE! html>
<html>
<head>
  <title>AlphaBlog Home page</title>
  <meta charset="UTF-8">
</head>
<body>
<div class="center jumbotron">
  <h1>Alpha Blog</h1>
  <%= link_to "Sign up now!",signup_path, class: "btn btn-primary btn-lg btn-jmbtrn"%>
</div>
<%= render 'layouts/navigation'%>
<%= render 'layouts/messages' %>
</body>
</html>